<div id="<%= dom_id plant %>">
  <p>
    <strong>Name:</strong>
    <%= plant.name %>
  </p>
  <p>
    <strong>Brightness:</strong>
    <%= plant.brightness %>
  </p>
  <p>
    <strong>Watering:</strong>
    <%= plant.watering %>
  </p>
  <p>
    <strong>Toxic:</strong>
    <%= plant.toxic %>
  </p>

</div>
